asgiref
attrs
autobahn
Automat
cffi
channels==3.0.4
constantly
cryptography
daphne
Django==4.0.3
hyperlink
idna
incremental
pyasn1
pyasn1-modules
pycparser
PyHamcrest
pyOpenSSL
pytz
service-identity
six
sqlparse
Twisted
txaio
typing_extensions==4.1.1
tzdata==2021.5
zope.interface






