{% extends 'base.html' %}

{% block body %}
    <div class="bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');height: 100vh">
            <div class="container my-3" >
                <div class="row">
                    {% for i in info %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="{{i.image}}" class="d-block w-100" alt="...">
                            <div class="card-body">
                                <p class="card-text">{{i.name}}<br><small>{{i.release_year}}</small></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}        
                </div>
            </div>
        </div>
{% endblock body %}